<%- include('header'); -%>
    <h1>
        Add a new note
    </h1>
    <form method="POST">
        <label for="content">Insert a note</label><br>
        <input type="textarea" id="content" name="content"><br>
        <input type="submit" value="Register">
    </form>
<%- include('footer'); -%>