<!DOCTYPE html>
<html>
    <head>
        <title>
            HeapNote
        </title>
        <!-- Perdoname madre por mi grafica poca -->
        <body>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/note/new">New note</a></li>
                <li><a href="/newusers">New users</a></li>
              </ul> 

